.cm-keyword { color: #c678dd !important; }
.cm-string { color: #98c379 !important; }
.cm-def { color: #61afef !important; }
.cm-variable { color: #e06c75 !important; }
.cm-comment { color: #7f848e !important; }
.cm-number { color: #d19a66 !important; }
.cm-operator { color: #56b6c2 !important; }